Node_red_ESP32_to_hivemq.json
[
    {
        "id": "49329e8d841b8a14",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9d5c6ddcdaf42c2",
        "type": "inject",
        "z": "49329e8d841b8a14",
        "name": "Led-1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control-led",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "52499b7fbcebcd28"
            ]
        ]
    },
    {
        "id": "52499b7fbcebcd28",
        "type": "mqtt out",
        "z": "49329e8d841b8a14",
        "name": "",
        "topic": "control-led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "354965f55b3fcdbe",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "53dc0c4fe726b866",
        "type": "inject",
        "z": "49329e8d841b8a14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control-led",
        "payload": "0",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "52499b7fbcebcd28"
            ]
        ]
    },
    {
        "id": "69f3857d7a925c90",
        "type": "comment",
        "z": "49329e8d841b8a14",
        "name": "MQTT control led ",
        "info": "Se va a subscribir al broker con la \ninformacion, muy inportante marcar la \ncasilla de (use TLS), para que se concecte \nsi no se marca no se va a poder conectar\n",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "63f60b2abbb87702",
        "type": "comment",
        "z": "49329e8d841b8a14",
        "name": "Controles para el encendido del led ",
        "info": "Utilizo los bloques de inject\nEn este caso use un valor booleano y un\nstring, el string por un error de codigo\nde la ESP32, si no utilizaria los dos injects\ncomo booleanos, muy importante configurar el topico\n",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "f30652834307ea9f",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "control-led",
        "topicType": "msg",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "52499b7fbcebcd28",
                "bace14cb15943088",
                "15a6d3f4d818a5ed"
            ]
        ]
    },
    {
        "id": "e74a473a57997fea",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "control-led",
        "topicType": "msg",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "52499b7fbcebcd28",
                "f5e8677af033ff27"
            ]
        ]
    },
    {
        "id": "bace14cb15943088",
        "type": "ui_audio",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "voice": "urn:moz-tts:speechd:Urdu+RicishayMax2?ur",
        "always": "",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "15a6d3f4d818a5ed",
        "type": "ui_toast",
        "z": "49329e8d841b8a14",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "control-led",
        "name": "Led encendido",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "f5e8677af033ff27",
        "type": "ui_toast",
        "z": "49329e8d841b8a14",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "control-led",
        "name": "Led apagado",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "354965f55b3fcdbe",
        "type": "mqtt-broker",
        "name": "Prueba",
        "broker": "3baa2ee357f2493dacd65f0f254ac39f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6a0232fcc29f7ec3",
        "type": "ui_group",
        "name": "Default",
        "tab": "e03ff738f41ef9ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e03ff738f41ef9ba",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]